* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FF6347;
  min-height: 40rem;
  overflow: auto;
}

.wrapper {
  display:flex;
  flex-wrap: wrap;
  width: 90%;
  height: 90%;
  overflow-x: hidden;
  align-content: space-between;
}

.images-wrapper {
  width: 100%;
  height: 60%;
  order: 1;
}

.images {
  display: flex;
  width: 500%;
  height: 100%;
  transition: all 0.3s ease;  
}

.image {
  display: inline-block;
  width: 100%;
  height: 100%; 
}

input {
  display: none;
}

.image1 {
  background-color: #FFFF00;
}

.image2 {
  background-color: #7CFC00;
}

.image3 {
  background-color: #00FFFF;
}

.image4 {
  background-color: #FF00FF;
}

.image5 {
  background-color: #6495ED;
}

.text-wrapper {
  width: 100%;
  height: 30%;
  order: 3;
  overflow: hidden;
}

.text {
  width: 500%;
  height: 100%;
  display: flex;
  overflow: hidden;
  transition: all 0.3s ease;
}

.text-item {
  background-color: #7CFC00;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  padding: 0.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.controls-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 3rem;
  order: 2;
}

.controls {
  display: flex;
  justify-content: space-between;
  width: 15rem;
  height: 3rem;
  background-color: #6495ED;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

label:hover span {
  background-color:#00CED1;
}


label:active span {
  background-color:#0000FF;
}

label span {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #00FFFF;
  border-radius: 50%;
  transition: 0.3s ease-out;
}

.images-wrapper:has(.images #img1:checked) ~ .controls-wrapper > .controls label[for="img1"] > span {
   background-color: #FF00FF;
   cursor: default;
} 

.images-wrapper:has(.images #img2:checked) ~ .controls-wrapper > .controls label[for="img2"] > span {
  background-color: #FF00FF;
  cursor: default;
} 

.images-wrapper:has(.images #img3:checked) ~ .controls-wrapper > .controls label[for="img3"] > span {
  background-color: #FF00FF;
  cursor: default;
} 

.images-wrapper:has(.images #img4:checked) ~ .controls-wrapper > .controls label[for="img4"] > span {
  background-color: #FF00FF;
  cursor: default;
}  

 .images-wrapper:has(.images #img5:checked) ~ .controls-wrapper > .controls label[for="img5"] > span {
  background-color: #FF00FF;
  cursor: default;
}  

.images:has(#img1:checked), .images-wrapper:has(.images #img1:checked) ~ .text-wrapper .text {
  transform: translateX(0%);
}

.images:has(#img2:checked), .images-wrapper:has(.images #img2:checked) ~ .text-wrapper .text {
  transform: translateX(-20%);
}

.images:has(#img3:checked), .images-wrapper:has(.images #img3:checked) ~ .text-wrapper > .text {
  transform: translateX(-40%);
}

.images:has(#img4:checked), .images-wrapper:has(.images #img4:checked) ~ .text-wrapper > .text {
  transform: translateX(-60%);
}

.images:has(#img5:checked), .images-wrapper:has(.images #img5:checked) ~ .text-wrapper > .text {
  transform: translateX(-80%);
}


@media screen and (min-width: 1024px) {

  .images-wrapper {

    height: 75%;
  
  }

  .text-wrapper {
    order: 2;
    width: 70%;
    height: 20%;
  }

  .controls-wrapper {
    order: 3;
    width: 30%;
    height: 20%;
    justify-content: flex-end;
  }

} 