* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #FF6347; */
  overflow: auto;
}

.wrapper {
  display:flex;
  flex-direction: column;
  width: min(90vh, 90vw);
  max-width: 90%;
  /* height: 90%; */
  overflow-x: hidden;
  row-gap: 1rem;
}

.images-wrapper {
  width: 100%;
  height: auto;
}

.images {
  display: flex;
  width: 500%;
  height: auto;
  transition: all 0.3s ease;  
}

.image {
  display: inline-block;
  width: 20%;
  height: auto;
}  

input {
  display: none;
}

/* .image1 {
  background-color: #FFFF00;
}

.image2 {
  background-color: #7CFC00;
}

.image3 {
  background-color: #00FFFF;
}

.image4 {
  background-color: #FF00FF;
}

.image5 {
  background-color: #6495ED;
} */

.text-controls-box {
  display: flex;
  flex-grow: 1;
  flex-direction: column-reverse;
  row-gap: 1rem;
}

.text-wrapper {
  /* flex-grow: 1; */
  width: 100%;
  overflow: hidden;
}

.text {
  width: 500%;
  height: 100%;
  display: flex;
  overflow: hidden;
  transition: all 0.3s ease;
}

.text-item {
  /* background-color: #7CFC00; */
  width: 100%;
  height: 100%;
  font-size: 0.9rem;
  /* padding-left: 0.5rem;
  padding-right: 0.5rem; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.controls-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.controls {
  display: flex;
  justify-content: space-between;
  width: 10rem;
  height: 2rem;
  /* background-color: #6495ED; */
  align-self: center;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

label:hover span {
  background-color:#00CED1;
}


label:active span {
  background-color:#0000FF;
}

label span {
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: #00FFFF;
  border-radius: 50%;
  transition: 0.3s ease-out;
}

.images-wrapper:has(.images #img1:checked) ~ .text-controls-box label[for="img1"] > span {
   background-color: #FF00FF;
   cursor: default;
} 

.images-wrapper:has(.images #img2:checked) ~ .text-controls-box label[for="img2"] > span {
  background-color: #FF00FF;
  cursor: default;
} 

.images-wrapper:has(.images #img3:checked) ~ .text-controls-box label[for="img3"] > span {
  background-color: #FF00FF;
  cursor: default;
} 

.images-wrapper:has(.images #img4:checked) ~ .text-controls-box label[for="img4"] > span {
  background-color: #FF00FF;
  cursor: default;
}  

 .images-wrapper:has(.images #img5:checked) ~ .text-controls-box label[for="img5"] > span {
  background-color: #FF00FF;
  cursor: default;
}  

.images:has(#img1:checked), .images-wrapper:has(.images #img1:checked) ~ .text-controls-box .text {
  transform: translateX(0%);
}

.images:has(#img2:checked), .images-wrapper:has(.images #img2:checked) ~ .text-controls-box .text {
  transform: translateX(-20%);
}

.images:has(#img3:checked), .images-wrapper:has(.images #img3:checked) ~ .text-controls-box .text {
  transform: translateX(-40%);
}

.images:has(#img4:checked), .images-wrapper:has(.images #img4:checked) ~ .text-controls-box .text {
  transform: translateX(-60%);
}

.images:has(#img5:checked), .images-wrapper:has(.images #img5:checked) ~ .text-controls-box .text {
  transform: translateX(-80%);
}

@media screen and (min-width: 1024px) {

  .wrapper {
    width: 80%;
  }

  .text-controls-box {
    flex-direction: row;
  }

  .text-wrapper {
    width: 70%;
  } 

  .text-item {
    font-size: 1.2rem;
  }

  .controls-wrapper {
    width: 30%;
    align-self: flex-start;
    justify-content: flex-end;
  }

}

@media screen and (min-width: 1200px) {
  .wrapper {
    width: 75%;
  }
}
