* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FF6347;
  min-height: 40rem;
  overflow: auto;
}

.wrapper {
  display:flex;
  width: 90%;
  height: 90%;
  flex-direction: column;
  overflow-x: hidden;
  justify-content: space-between;
}

.images {
  display: flex;
  width: 500%;
  height: 50%;
  transition: all 0.3s ease;
}

.image {
  width: 100%;
  height: 100%; 
}

input {
  display: none;
}

.image1 {
  background-color: #FFFF00;
}

.image2 {
  background-color: #7CFC00;
}

.image3 {
  background-color: #00FFFF;
}

.image4 {
  background-color: #FF00FF;
}

.image5 {
  background-color: #6495ED;
}

.text-controls-box {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column-reverse;
}

.text {
  width: 500%;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  transition: all 0.3s ease;
}

.text-item {
  background-color: #7CFC00;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  padding: 0.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.controls {
  align-self: center;
  display: flex;
  justify-content: space-between;
  width: 15rem;
  height: 3rem;
  background-color: #6495ED;
  margin-top: 5%;
  margin-bottom: 5%;
}

label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

label:hover span {
  background-color:#00CED1;
}


label:active span {
  background-color:#0000FF;
}


label span {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #00FFFF;
  border-radius: 50%;
  transition: 0.3s ease-out;
}


.images:has(#img1:checked) ~ .text-controls-box > .controls label[for="img1"] > span {
   background-color: #FF00FF;
} 

.images:has(#img2:checked) ~ .text-controls-box > .controls label[for="img2"] > span {
  background-color: #FF00FF;
} 

.images:has(#img3:checked) ~ .text-controls-box > .controls label[for="img3"] > span {
  background-color: #FF00FF;
} 

.images:has(#img4:checked) ~ .text-controls-box > .controls label[for="img4"] > span {
  background-color: #FF00FF;
} 

.images:has(#img5:checked) ~ .text-controls-box > .controls label[for="img5"] > span {
  background-color: #FF00FF;
} 

.images:has(#img1:checked) ~ .text-controls-box > .controls label[for="img1"] {
  cursor: default;
}

.images:has(#img2:checked) ~ .text-controls-box > .controls label[for="img2"] {
  cursor: default;
}

.images:has(#img3:checked) ~ .text-controls-box > .controls label[for="img3"] {
  cursor: default;
}

.images:has(#img4:checked) ~ .text-controls-box > .controls label[for="img4"] {
  cursor: default;
}

.images:has(#img5:checked) ~ .text-controls-box > .controls label[for="img5"] {
  cursor: default;
}

.images:has(#img1:checked), .images:has(#img1:checked) ~ .text-controls-box .text {
  transform: translateX(0%);
}

.images:has(#img2:checked), .images:has(#img2:checked) ~ .text-controls-box .text {
  transform: translateX(-20%);
}

.images:has(#img3:checked), .images:has(#img3:checked) ~ .text-controls-box > .text {
  transform: translateX(-40%);
}

.images:has(#img4:checked), .images:has(#img4:checked) ~ .text-controls-box > .text {
  transform: translateX(-60%);
}

.images:has(#img5:checked), .images:has(#img5:checked) ~ .text-controls-box > .text {
  transform: translateX(-80%);
}